<h1>About</h1>
<p>
<%= link_to "30 Day Rails", "http://onemonthrails.com" %> is a project to teach <%= link_to "Ruby on Rails", "http://rubyonrails.org" %> application. This is the sample application.
</p>